Flask
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Limiter
--extra-index-url https://download.pytorch.org/whl/cpu
SQLAlchemy
torch
torchvision
opencv-python-headless
scikit-learn
matplotlib
tqdm
Pillow
gunicorn
python-dotenv
gdown